# # Database Configuration
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=password
# DB_NAME=supreme_stay_db
# DB_LOGGING=true

# # Authentication
# JWT_SECRET=super-secret-key-change-me
# JWT_EXPIRES_IN=1d

# # Server
# PORT=5000

# DATABASE_URL=postgresql://postgres:aE-sS-qcF+S3vw8@db.ivxcoiskpgruurhwlhor.supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres.ivxcoiskpgruurhwlhor:aE-sS-qcF+S3vw8@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres
DB_LOGGING=true

JWT_SECRET=super-secret-key-change-me
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=super-refresh-secret-change-me
JWT_REFRESH_EXPIRES_IN=7d

PORT=5000